a {
  text-decoration: none !important;
  color: #fff;
}
h3,
h4 {
  font-weight: 300;
}

.btn-orange {
  margin: 0 0 0 0px;
  padding: 9px 18px;
  font-size: 14px;
  display: inline-block;
  height: 40px;
  background: #6b37b9;
  color: #fff;
  font-weight: 700;
  line-height: 25px;
  vertical-align: baseline;
  border-radius: 3px;
}
.btn-orange:hover {
  color: white;
}
.navbar {
  padding: 0;
}
.navbar-brand {
  display: inline-block;
  padding-top: 0;
  padding-bottom: 0;
  margin-right: 0;
  font-size: 2rem;
  line-height: inherit;
  white-space: nowrap;
  font-weight: 300;
}
